@import "send_common.scss";

.order-history-frame{
  width: 100%;
  tr{
    &:first-child{
      th{
        font-size: 10px;
        background-color: #dcdcdc;
        padding: 5px 0;

        &:first-child{
          width: 70%;
        }
        &:not(:first-child){
          width: 30%;
        }
      }
    }
    &:not(:first-child){
      background:url(../images_new/icon/.png) no-repeat 95% 50%;
      background-size: 8px;
      th{
        font-size: 10px;
        padding: 5px 0;
        font-weight: normal;
        &:first-child{
          width: 70%;
        }
        &:not(:first-child){
          width: 30%;
        }
      }
    }
  }
}
.order-history-list{
  li{
    padding: 10px 2%;
    width: 96%;
    clear: both;
    font-size: 12px;
    &:after{
      clear:both;
    }

    p{
      height: 45px;
      &:nth-child(1){
        float: left;
        width: 70%;
        span{
          font-size: 8px;
          color: $color-lighter;
        }
      }
      &:nth-child(2){
        float: right;;
        width: 30%;
        text-align: center;

      }
    }
  }
}
