@charset "utf-8";
@import "send_common.scss";
.producer-serch-frame{
  background-color: $color-lightest;
  padding: 10px 2%;
  width: 96%;
  .serach-btn{
    width: 100%;
    color:#ffffff;
    font-size:$font-bigger;
    font-weight:bold;
    text-align:center;
    padding:10px 0;
    background-color: $color-green;
    margin-top: 10px;
  }
  input{
    background-color: #ffffff;
    padding: 10px 0;
    text-align: center;
    color: $color-light;
    width: 100%;
    border-radius: 5px;

  }
  select{
    width: 48%;
    background-color: #ffffff;
    padding: 10px 0;
    text-align: center;
    color: $color-light;
    border-radius: 5px;
    &:nth-child(1){
      margin-right: 8%;
    }
  }

}
.producer-list-frame{
  padding: 10px 2%;
  width: 96%;
  li{
    figure{

    }
    section{

    }

  }

}
