@charset "utf-8";
@import "send_common.scss";

.show-msg-all {
  text-align: center;
  width: 90%;
  margin: 5px auto;
  padding-bottom: 5px;
  border-bottom: solid 0.5px $color-lightest;
  font-size: $font-smallest;
  color: $color-lighter;
}

.chat-frame-send{
  padding: 10px 4%;
  width: 92%;
  .prfimg{
    width: 16%;
    float: left;
    p{
      width: 40px;
      height: 40px;
      border-radius: 20px;
      overflow: hidden;
      position: relative;
    }
    img{
      position: absolute;
      width:150%;
      left:-25%;
    }
  }
  .chat-msg{
    width: 72%;
    float: right;
    background-color: $color-lightest;
    position: relative;
    padding: 10px 4%;
    border-radius: 10px;
    &:after{
      right: 100%;
    	top: 10%;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    	border-right-color: $color-lightest;
    	border-width: 10px;
    	margin-top: -10px;
    }
    .detail{
      color: $color-darker;
      font-size: $font-small;
      line-height: 18px;
    }
    .date{
      color: $color-lighter;
      font-size: $font-smallest;
      text-align: right;
      margin-top: 10px;
    }
  }
}


.chat-frame-user{
  padding: 10px 4%;
  width: 92%;
  .prfimg{
    width: 16%;
    float: right;
    p{
      width: 40px;
      height: 40px;
      border-radius: 20px;
      overflow: hidden;
      position: relative;
    }
    img{
      position: absolute;
      width:100%;
    }
  }
  .chat-msg{
    width: 72%;
    float: left;
    background-color: #009991;
    position: relative;
    padding: 10px 4%;
    border-radius: 10px;
    &:after{
      left: 100%;
    	top: 10%;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    	border-left-color: #009991;
    	border-width: 10px;
    	margin-top: -10px;
    }
    .detail{
      color: #ffffff;
      font-size: $font-small;
      line-height: 18px;
    }
    .date{
      color: $color-lightest;
      font-size: $font-smallest;
      margin-top: 10px;
    }
  }
}

.chat-input-frame{
  width: 100%;
  min-height: 40px;
  position: fixed;
  bottom: 48px;
  background-color: #ffffff;
  .select-img-btn{
    width: 10%;
    float: left;
    text-align: center;
    img{
      width: 90%;
    }
  }
  .chat-text{
    width: 80%;
    float: left;
  }
  .chat-send-btn{
    text-align: center;
    width: 10%;
    float: left;
    font-size: 10px;
    color: #dcdcdc;
    padding-top: 10px;
  }


}
